1. create venv
2. pip install django djangorestframework
3. python manage.py load_accidents --path traffic_accidents_10k.csv
4. python manage.py makemigrations
5. python manage.py migrate
6. python manage.py test
7. python manage.py runserver